a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background-color: lightgray;
    color: #000000;
    min-width: 6rem;
    padding: 1rem;
    margin: 0.5rem 0.5rem;
}